---
import i18next, { t, changeLanguage } from "i18next";
import { type Service, type FeaturedService } from "../../types/api";
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Hero from "../../components/Hero.astro";
import FeaturedServices from "../../components/FeaturedServices.astro";
import translation_EN from "../../../public/locales/en/translation.json";
import translation_ES from "../../../public/locales/es/translation.json";

changeLanguage("en");

const homePath = i18next.language === "en" ? "/" : "/es";
// console.log(`language Services => ${i18next.language}`);
//Genera los las archivos de las paginas con el ID de cada uno de los elementos
export async function getStaticPaths() {
    const services = t("service", { returnObjects: true }) as Array<Service>;
    return services.map((serviceTemp) => ({
        params: { name: serviceTemp.Name },
    }));
}
const listServices = t("service", { returnObjects: true }) as Array<Service>;
const { name } = Astro.params;
let service;
let indexService = 0;
let nameService_EN = "";
let nameService_ES = "";
if (name) {
    service = listServices.find((serviceTemp, index) => {
        indexService = index;
        nameService_EN = translation_EN.service[indexService].Name;
        nameService_ES = translation_ES.service[indexService].Name;
        return serviceTemp.Name === name;
    });
}
---

<Layout title=`${service?.PageTitle}` description=`${service?.PageDescription}`>
  <!-- Hero Page -->
  <Hero title={service?.Name} heroBackgroundSrc="/img/Banners/Home.webp" />
  <article class="flex gap-y-4 flex-col items-center pt-20 mx-auto">
    <div class="text-center mb-10 w-11/12">
      <h1 class="font-bold text-4xl mb-6">{service?.PageTitle}</h1>
      <p>{service?.Info}</p>
    </div>
    <div class="flex flex-col gap-5 w-11/12 mb-10">
      {
        service?.FeaturedServices.map((featured) => {
          return (
            <FeaturedServices title={featured.Title} info={featured.Info} />
          );
        })
      }
    </div>
    <div class="flex flex-col gap-5 items-center w-11/12">
      <Image
        class="w-full h-auto max-w-[536px]"
        alt=` ${service?.AltImg}`
        src={`/img/Services/${service?.Img}`}
        height="576"
        width="536"
      />
      <h2 class="text-4xl text-white font-bold">
        {service?.ListServicesTitle}
      </h2>
      <ul>
        {
          service?.ListServices.map((serviceBullet) => {
            return (
              <li class="text-white mb-2">
                <a class="inline-flex items-center font-semibold gap-3 ">
                  <svg
                    width="26"
                    height="16"
                    viewBox="0 0 26 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="min-width: 26px;"
                  >
                    <path
                      d="M25.7071 8.70711C26.0976 8.31658 26.0976 7.68342 25.7071 7.29289L19.3431 0.928932C18.9526 0.538408 18.3195 0.538408 17.9289 0.928932C17.5384 1.31946 17.5384 1.95262 17.9289 2.34315L23.5858 8L17.9289 13.6569C17.5384 14.0474 17.5384 14.6805 17.9289 15.0711C18.3195 15.4616 18.9526 15.4616 19.3431 15.0711L25.7071 8.70711ZM0 9H25V7H0V9Z"
                      fill="#E21429"
                    />
                  </svg>
                  <span>{serviceBullet}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </article>
</Layout>

<script define:vars={{ homePath, nameService_EN, nameService_ES }}>
  const _langBtnMobile_EN = document.getElementById("LanguageButtonMobile_EN");
  const _langBtnMobile_ES = document.getElementById("LanguageButtonMobile_ES");

  const _langBtn_EN = document.getElementById("LanguageButton_EN");
  const _langBtn_ES = document.getElementById("LanguageButton_ES");

  _langBtnMobile_EN?.setAttribute("href", `/Services/${nameService_EN}`);
  _langBtnMobile_ES?.setAttribute("href", `/es/Services/${nameService_ES}`);

  _langBtn_EN?.setAttribute("href", `/Services/${nameService_EN}`);
  _langBtn_ES?.setAttribute("href", `/es/Services/${nameService_ES}`);
</script>
