---
import { Image } from "astro:assets";
import i18next from "i18next";

interface Props {
  title?: string;
  heroBackgroundSrc?: string;
}

const {
  title = "Title Service",
  heroBackgroundSrc = "/img/Banners/Home.webp",
} = Astro.props;

const subtitle =
  i18next.language === "en" ? "Service Details" : "Detalles del servicio";
const homeText = i18next.language === "en" ? "Home" : "Inicio";

const idSection = `Service_${title.replaceAll(" ", "")}`;
---

<section
  id={idSection}
  class="w-full flex flex-col text-center items-center justify-center pt-24 px-4 h-96 bg-cover bg-center bg-no-repeat sm:pt-52 sm:px-8 xl:pt-32 2xl:px-40"
>
  <h2
    class="font-bold text-4xl leading-[3rem] mb-4 sm:text-5xl sm:mb-8 md:text-7xl xl:text-9xl xl:leading-[1.2]"
  >
    {title}
  </h2>
  <div class="flex flex-row gap-3">
    <p class="mb-12 w-auto md:text-lg md:w-2/3 xl:w-1/2 xl:mb-8">
      {homeText.toUpperCase()}
    </p>
    <p class="mb-12 w-auto font-bold md:text-lg md:w-2/3 xl:w-1/2 xl:mb-8">|</p>
    <p class="mb-12 w-auto font-bold md:text-lg md:w-2/3 xl:w-1/2 xl:mb-8">
      {subtitle.toLocaleUpperCase()}
    </p>
  </div>
</section>

<script define:vars={{idSection, heroBackgroundSrc }}>
  const bgElement = document.getElementById(`${idSection}`);
  if (bgElement) {
    bgElement.style.backgroundImage = `url('${heroBackgroundSrc}')`;
  }
</script>
