---
import i18next from "i18next";
import { Image } from "astro:assets";
import { GetLang, GetLangUrl } from "../util/Urls";
import { string } from "astro/zod";
const { pathname } = Astro.url;

interface Props {
  name: string;
  img: string;
  imgAlt?: string;
}

const { name, img, imgAlt = "" } = Astro.props;

let lang = GetLangUrl(pathname);
if (lang.includes("es")) lang += "/";
---

<a
  href={`${lang}Services/${name}/`}
  class="relative max-w-[352px] mx-auto rounded-lg shadow-md flex flex-col bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition"
>
  <Image
    class="mx-auto rounded-lg w-full h-full filter brightness-[0.6]"
    src={`/img/Services/${img}`}
    alt={imgAlt}
    width="256"
    height="256"
  />

  <h2 class="absolute top-1/2 left-0 ps-5 font-semibold text-2xl">{name}</h2>
  <!-- <div class="p-4 flex-grow">
  </div> -->
</a>
